/***************
*
* Color definitions
*
***************/



//Primary Palette
$rp3-blue: #00aeef;
$rp3-magenta:  #D10457;

//Secondary Palette


//Neutrals
$grey-lightest: #E9E9E9;
$grey-light: #bcbec0;
$grey: #666;
$gray-dark: #343434;
$white: white;

